.curso {
    background-color: var(--color-tree);
}

.h1 {
    font-family: var(--font-title-h1);
    font-weight: 400;
    font-size: 8vw;
    text-align: center;
    color: var(--color-six);
    padding: 4vw 0;
}

.curso-paragraph {
    font-family: var(--font-two);
    font-size: 2.5vw;
    color: var(--color-six);
    padding: 8vw 15vw;
    text-align: justify;
}