.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color-seven);
}

.footer-h2 {
    font-family: var(--font-title-h1);
    font-size: 2vw;
    font-weight: 500;
    padding: 2vw 0;
    color: var(--color-tree);
}

.footer-paragraph {
    font-family: var(--font-tree);
    font-size: 2vw;
    color: var(--color-tree);
}

.footer-developer {
    font-family: var(--font-four);
    font-size: 2vw;
    padding: 2vw 0;
    color: var(--color-tree);
    text-decoration: none;
}

.link-developer {
    color: var(--color-tree);
    text-decoration: none;
}

.link-developer:hover {
    font-size: 3vw;
}

@media screen and (max-width:540px) {
    .footer-h2 {
        font-size: 4vw;
    }    

    .footer {
        padding: 2vw 0;
    }

    .footer-paragraph {
        font-size: 3.2vw;
    }

    .footer-developer {
        font-size: 3.5vw;
    }
}