.header {
    background-image: url("../assets/img/berco_de_ouro_grande.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 48vw;
}

.header-mobile {
    display: none;
}

.header-nav {
    display: flex;
    font-size: 1.8vw;
    justify-content: center;
    padding-top: 1.7vw;
    font-family: var(--font-one);
    color: var(--color-six);
}

.header-nav-item {
    padding: 0 2.5vw;
    text-decoration: none;
    color: var(--color-six);
}

.header-nav-outline {
    border-left: solid 0.2vw var(--color-six);
    border-right: solid 0.2vw var(--color-six);
}

.dead-center {
    border-left: solid 0.2vw var(--color-six);
}

.header-nav-item:hover {
    background-color: var(--color-six);
    color: white;
}

.left {
    width: 5%;
}

.right {
    width: 11%;
}

.left:hover {
    border-radius: 5vw 0 0 5vw;
}

.right:hover {
    border-radius: 0 5vw 5vw 0;
}

.container {
    display: none;
}


@media screen and (max-width:800px) {
    .header-nav {
        display: none;        
    }

    .header {
        display: none;
    }

    .header-mobile {
        display: block;
        background-image: url("../assets/img/berco_de_ouro_mobile.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 60vw;
    }

    .header-menu-hamburguer{
        width: 24px;
        height: 24px;
        background-image: url("../assets/img/Menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .cabecalho {
        background-color: var(--branco);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .container-image {
        padding: 1em;
    }

    .list-menu {
        display: none;
        position: absolute;
        top: 8vw;
        width: 30vw;
        border: solid 1px var(--color-six);
        border-radius: 5vw;
        background-color: var(--color-tree);
        margin-left: 3vw;
    }

    .container-button {
        display: none;
    }

    .container-button:checked ~ .list-menu {
        display: block;
        list-style-type: circle;
    }

    .list-menu-item {
        padding: 1vw 3vw 0 0 ;
        list-style-type: none;
        text-align: center;
    }

    .list-menu-link {
        color: var(--color-six);
        text-decoration: none;   
        font-family: var(--font-tree);
        font-weight: 600;
        margin-left: 3vw;
        font-size: 3vw;
    }
}