.header {
    background-image: url("../assets/img/berco_de_ouro_grande.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 48vw;
}

.header-mobile {
    display: none;
}

.header-nav {
    display: flex;
    font-size: 1.8vw;
    justify-content: center;
    padding-top: 1.7vw;
    font-family: var(--font-one);
    color: var(--color-six);
}

.header-nav-item {
    padding: 0 2.5vw;
    text-decoration: none;
    color: var(--color-six);
}

.header-nav-outline {
    border-left: solid 0.2vw var(--color-six);
    border-right: solid 0.2vw var(--color-six);
}

.dead-center {
    border-left: solid 0.2vw var(--color-six);
}

.header-nav-item:hover {
    background-color: var(--color-six);
    color: white;
}

.left {
    width: 5%;
}

.right {
    width: 11%;
}

.left:hover {
    border-radius: 5vw 0 0 5vw;
}

.right:hover {
    border-radius: 0 5vw 5vw 0;
}

@media screen and (max-width:540px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: block;
        background-image: url("../assets/img/berco_de_ouro_mobile.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 60vw;
    }
}